nav {
  overflow: visible;
  margin-bottom: 50px;
}

body {
  background-color: black;
  color: #dddddd;
}
.spacer {
  padding-top: 10px;
}

.smLogo {
  max-height: 40px;
}

#static {
  background-image: url(../img/concrete-road-surrounded-by-trees-831243.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

.jumbotron {
  background: transparent;
}

.menuIcons {
  color: #85B598;
}

.userIcon, .highlight {
  color: #D8AC31;
}

.member-name, .ext-btn {
  color: #FFF6E5;
}

.card {
  color: #313131;
}

#backSearch{
  position: fixed;
  top: 200px;
  left: -55px;
  transform: rotate(90deg);
}

td {
  white-space: normal !important;
}

.btn-dropDown {
  background-color: #85B598;
  color: #fff;
  border: 0px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.btn-dropDown:hover {
  background-color: #62846F;
  color: #fff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  min-width: 160px;
  margin-left: -60px;
  margin-top: -5px;
  z-index: 2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-login {
  font-weight: 600;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:5%;
}