nav {
  z-index: 1000;
  overflow: visible;
  margin-bottom: 50px;
}

body {
  background-color: black;
  color: #dddddd;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(../img/concrete-road-surrounded-by-trees-831243.jpg) black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.btn-dropDown {
  background-color: #85B598;
  color: #fff;
  border: 0px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.btn-dropDown:hover {
  background-color: #62846F;
  color: #fff;
}

.spacer {
  padding-top: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  min-width: 160px;
  margin-left: -120px;
  z-index: 2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-login {
  font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}

.smLogo {
  max-height: 40px;
}

#static {
  background-image: url(../img/concrete-road-surrounded-by-trees-831243.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

.jumbotron {
  background: transparent;
}

.menuIcons {
  color: #85B598;
}

.card, .card-header, .card-body, .card-text {
  color: blue;
}
